<body id="background">
  <div class="greeting">
    <h1><%= "MAIN DISH" %></h1>
    <br>
    <h2><%= "Create an account to unlock our exclusive recipes" %></h2> <!-- NHO: I would! Beautfiul home screen and great design all around! --> 
  </div>
</body>
